<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>
  <div class="search-div">
    <!-- ... Resto del código ... -->
  </div>
  <div style="display: flex; flex-wrap: wrap; flex-direction: row;">
    <app-card *ngFor="let element of filteredElements" [element]="element" (click)="viewDetails()"></app-card>
  </div>